body{
	margin: 0;
}

table{
	padding:10px;
	border-style: solid;
	border-width: 1px;
	border:1px;
}

#header{
	background-color: darkseagreen;
	padding: 10px;
}

#header > h1{
	color: #FFF;
	font-family: serif;
	margin: 0;
}

#main{
	border: 1px solid #CCC;
	margin: 0 auto;
	padding: 10px;
	width: 80%;
}

#main > h2{
	border-left: 5px solid #C00;
	font-size: 20px;
	padding-left: 20px;
}

#main > p{
	font-size: 14px;
	margin: 10px 25px;
}

#footer{
	margin: 10px;
	text-align: center;
}

#footer > p{
	font-size: 14px;
}
